.des{
    position: absolute;
    top: 83% ;
    left:16px;
    color: rgb(235, 224, 207);
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 500;
    opacity: .95;
    
}
.des:hover{
    
        cursor: pointer;
        color: black;
        
}
@media all and (max-width: 768px)
{
    .des{
        top:65%;
    }
}